
<div class="col-25">
    <div class="titre">Panier<i class="fa fa-shopping-cart"></i></div>
    
    <div class="vegetable" *ngFor="let item of basketService.items ; let i = index">
      
        <div class="right">
            <div class="name"> {{item.vegetableName}}</div> 
            <div class="quant"> Quantité : {{basketService.quantity[item['vegetableName']]}}</div>
        </div>
        <div class="left">
            <div class="price"> Prix : {{item.vegetablePrice}}</div>
        </div>

      <span class="price" style="color:black"></span>
      <hr>
    </div>
    <div class="total"><p>Total :  <span class="price" style="color:black"><b><label class="basketPrice">{{this.basketService.priceBasket}}</label></b></span></p>
    </div>
    <input type="submit" routerLink="/payment" value="Valider mon panier" class="btn">
  </div>