
:host{
    display: block;
    position: relative;
    height:50px;
    width:100%;
}

.vegetables{
    margin-top:6%;
    margin-left: 7%;
}

.vegetable{
    width: 20%;
    height: 30%;
    margin:20px;
    float:left;
}

.vegetable img {
    background-image: url(fraise.jpg);
    width : 70%;
    height : 40%;
}


.display img{
    background-image: url(market.jpeg);
    float:left;
    margin-right : 10%;
}

.contenu{
    margin : 10px;
}

.vegetable .btns button{
    margin : 2px;
    color :#BC4749;
}

.display .description {
    margin-left: 10%;
}

.display .description h1{
    font-size: 1.8em;
    line-height: 2.5rem;
    color: #BC4749;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-top: 2%;
}

.display .desc {
    font-size : 1.2em;
    margin-bottom: 5px;
    color : black;
    margin: 0;
    padding: 0;
    text-align: left;
}

.display .description h3{
    font-size: 1.8em;
    line-height: 2.5rem;
    color: #A7C957;
    margin: 0;
    padding: 0;
    text-align: left;
}

.display .description h4{
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #A7C957;
    margin: 0;
    padding: 0;
    text-align: left;
}


