 <body class="mat-app-background">

    <div class="display">
        <img src="market.jpeg" width="500" height="300">
        <div class="description">
            <div class="bandeau master">
                <br>
                <h1>Bienvenue dans Le Petit Maraicher</h1>
                <div class="desc">
                    <p>Ici, retrouvez une large sélection de légumes et fruits BIO</p>
                    <p>Respect des hommes, de la biodiversité, du bien être animal et de l’environnement.</p>
                </div>
                <h3>Chez nous, vos courses sont livrées gratuitement en 1h!</h3>
                <h4>(même le dimanche)</h4>
            </div>
        </div>
        <!-- Ajouter Filtre + Rechercher -->

        <!-- Search form -->
        <form>
            <div class="md-form active-pink active-pink-2 mb-3">
              <input class="form-control" type="search" id="search1" placeholder="Rechercher un fruit/légume" aria-label="Search" mdbInput>
            </div>
        </form>
        
        <div class=vegetables>

            <div class="vegetable" *ngFor="let vegetable of vegetables">
                
                <div class="contenu">

                    <div class = "img">
                        <img src="fruits.png" alt="Barquette de fraises">
                    
                        <div class="name"> {{vegetable.vegetableName}}</div>
                        <div class="price"> Prix : {{vegetable.vegetablePrice}}</div>
                        <div class="quantity"> Quantité : {{vegetable.vegetableQuantity}}</div>
                   
                    </div>
                    
                    <div class= "btns">
                        
                        <button class="addBasket" routerLink="/vegetable/{{vegetable._id}}" mat-stroked-button color="primary">Modifier</button>
                        <button class="delete" (click)="deleteVegetable(vegetable)"mat-stroked-button color="primary">Supprimer</button>
                        <button class="addBasket" (click)="basketService.addToBasket(vegetable)" mat-stroked-button color="primary">Ajouter</button>
                        <button class="removeBasket" (click)="basketService.removeFromBasket(vegetable)"mat-stroked-button color="primary">Retirer</button>

                    </div>
                        
                </div>
                
            </div>

            <!--<app-note-block *ngFor="let vegetable of vegetables" [vegetable]="vegetable" (deleteVegetable)="deleteVegetable($event)" (removeFromBasket)="basketService.removeFromBasket($event)" (addToBasket)="basketService.addToBasket($event)" >  
            </app-note-block>--->

        </div>
        
        
            
    </div>
</body>

