<mat-toolbar color="primary">
    <div class="menu">
        <button routerLink="/home" routerLinkActive="active-link" class="element" mat-raised-button color="primary">Accueil</button>
        <button routerLink="/buying" routerLinkActive="active-link" routerLinkActive="active-link" class="element" mat-raised-button color="primary">Le marché</button>
        <button routerLink="/admin" routerLinkActive="active-link" routerLinkActive="active-link" class="element" mat-raised-button color="primary">Administration</button>
    </div>

    <label class="basketPrice">{{this.basketService.priceBasket}}</label>
</mat-toolbar>
