<body>

	<div class = "form">
	<div class = "titre"> Inscription </div>
	<mat-form-field>
		<mat-label>Full Name</mat-label>
		<input matInput type="text" [(ngModel)]="fullName">
	</mat-form-field>

	<br/> <br/>

	<mat-form-field>
		<mat-label>Adresse</mat-label>
		<input matInput type="text" [(ngModel)]="adresse">
	</mat-form-field>

	<br/> <br/>

	<mat-form-field>
		<mat-label>Code Postal</mat-label>
		<input matInput type="text" [(ngModel)]="codepostal">
	</mat-form-field>

	<br/> <br/>

	<mat-form-field>
		<mat-label>Ville</mat-label>
		<input matInput type="text" [(ngModel)]="ville">
	</mat-form-field>

	<br/> <br/>

	<mat-form-field>
		<mat-label>Login</mat-label>
		<input matInput type="text" [(ngModel)]="login">
	</mat-form-field>

	<br/> <br/>

	<mat-form-field>
		<mat-label>Password</mat-label>
		<input matInput type="password" [(ngModel)]="password">
	</mat-form-field>

	<br/> <br/>

	<div class ="btns">
	<button (click)="submit()" routerLink="/connexion" mat-raised-button> Register </button>
	<br/> <br/>
	<p>Vous êtes déjà inscrit?</p>
	<button mat-raised-button routerLink="/connexion"> Se connecter </button>
	</div>
</div>

</body>
