<body>

	<div class = "form">
	<div class = "titre"> Register </div>
	<mat-form-field>
		<mat-label>Full Name</mat-label>
		<input matInput type="text" [(ngModel)]="fullName">
	</mat-form-field>

	<br/> <br/>

	<mat-form-field>
		<mat-label>Login</mat-label>
		<input matInput type="text" [(ngModel)]="login">
	</mat-form-field>

	<br/> <br/>

	<mat-form-field>
		<mat-label>Password</mat-label>
		<input matInput type="password" [(ngModel)]="password">
	</mat-form-field>

	<br/> <br/>

	<div class ="btns">
	<button (click)="submit()" mat-raised-button> Register </button>
	<br/> <br/>
	<p>Vous êtes déjà inscrit?</p>
	<button mat-raised-button routerLink="/connexion"> Se connecter </button>
	</div>
</div>

</body>
