<!DOCTYPE html>
<html lang="en">
    <body class="mat-app-background">
        <div class="adminControl"> 
            <h3>Ajouter ici les produits</h3>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Ajouter un produit</mat-label>
                  <input matInput placeholder="Ex. Barquette de Fraises">
                </mat-form-field>
              
                <mat-form-field class="example-full-width">
                  <mat-label>Prix du produit en €/Quantité</mat-label>
                  <textarea matInput placeholder="Ex. 4€/barquette de 20 fraises"></textarea>
                </mat-form-field>

                <button (click)=vegetablesService.addVegetable() mat-raised-button color="warn">Ajouter</button>
              </form>
              
        </div>

    </body>
</html>