.mat-form-field{
    width:80%;
    position:center;
    margin-left:10%;
}

.bloc{
    background-color:#F2E8CF;
    height:500px;
}

.bloc .titre{
    font-size:20px;
    margin-bottom:2%;
    margin-top:2%;
    padding-top:10%;
    color:#BC4749;
    text-align:center;
  }

  .bloc button{
    background-color:#386641;
    color:white;
    margin-left: 35%;
    margin-right: auto;     
  }