<!DOCTYPE html>
<html lang="en">
    <body class="mat-app-background">
        <div class="adminControl"> 
            
            
            <form>
                <div class="vegetable" style="
                width: 400px;
                margin-left: 300px;
                height:300px;
                margin-top: 100px;">
                    <div class="titre">Ajouter un produit</div>
                    <mat-form-field appearance="fill"><mat-label>Nom de l'aliment</mat-label>
                    <input matInput name="nameVegetable" type="text" [(ngModel)]="this.nameVegetable" placeholder="Ex : Carotte"/>
                    </mat-form-field>
                    <br/>
                    
                    <mat-form-field appearance="fill"><mat-label>Prix de l'aliment en €</mat-label>
                    <input matInput name="priceVegetable" type="text" [(ngModel)]="this.priceVegetable" placeholder="Ex : X.X "/>
                    </mat-form-field>
                    <br/>
                    
                    <div>
                        <input type="file" id="image" name="image" value="" required>
                    </div>
                    <br/>

                    <button (click)=this.addVegetable() mat-raised-button>Ajouter</button>

                </div>

                
                <div class="user" style="
                width: 400px;
                margin-left: 900px;">
                    <br/>
                    <div class="titre">Ajouter un utilisateur</div>
                    <mat-form-field appearance="fill"><mat-label>Fullname</mat-label>
                    <input matInput name="fullName" type="text" [(ngModel)]="this.fullName" placeholder="Oliver C"/>
                    </mat-form-field>
                    <br/>

                    <mat-form-field appearance="fill"><mat-label>Login</mat-label>
                    <input matInput name="login" type="text" [(ngModel)]="this.login" placeholder="Ex : UserXX"/>
                    </mat-form-field>
                    <br/>
                    
                    <mat-form-field appearance="fill"><mat-label>mot de passe</mat-label>
                    <input matInput name="password" type="text" [(ngModel)]="this.password" placeholder="Ex : AF4TRFT6y. "/>
                    </mat-form-field>
                    <br/>
                    
                    <mat-form-field appearance="fill"><mat-label>Adresse</mat-label>
                    <input matInput name="adresse" type="text" [(ngModel)]="this.adresse" placeholder="Ex : 44 rue des matelots"/>
                    </mat-form-field>
                    <br/>
                    
                    <mat-form-field appearance="fill"><mat-label>ville</mat-label>
                    <input matInput name="ville" type="text" [(ngModel)]="this.ville" placeholder="Ex : Paris"/>
                    </mat-form-field>
                    <br/>
                    
                    <mat-form-field appearance="fill"><mat-label>Code Postal</mat-label>
                    <input matInput name="codepostal" type="text" [(ngModel)]="this.codepostal" placeholder="Ex : 75013"/>
                    </mat-form-field>
                    <br/>
                    

                    <button (click)=this.addUser() mat-raised-button>Ajouter</button>
            
                </div>
            
            </form>
 
        </div>

        <br/><br/>
         <table id="users">
                <thead>
                    <tr>
                        <th colspan="5">Utilisateurs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Login</th>
                        <th>Nom complet</th>
                        <th>Ville</th>
                        <th>CodePostal</th>
                        <th>Type</th>
                        <th>Modifier</th>

                    </tr>
                    <tr class="users" *ngFor="let user of users">
                        <td>{{user.login}}</td>
                        <td>{{user.fullName}}</td>
                        <td>{{user.ville}}</td>
                        <td>{{user.codepostal}}</td>
                        <td>{{user.type}}</td>
                        <td><button  routerLink="/user/{{user._id}}"mat-raised-button style="margin: 5px;">Modifier</button>
                            <button  class="delete" (click)="deleteUser(user)" mat-raised-button>Supprimer  </button></td>
                    </tr>
                </tbody>
            </table>
  
        

    </body>
</html>