<!DOCTYPE html>
<html lang="en">
    <body class="mat-app-background">
        <div class="adminControl"> 
            <h3>Ajouter ici les produits</h3>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    Créer un aliment
                </mat-form-field>

                    <mat-label>Nom de l'aliment</mat-label>
                    <input matInput name="nameVegetable" type="text" [(ngModel)]="this.nameVegetable" placeholder="Ex : Carotte"/>

                    <mat-label>Prix de l'aliment en €</mat-label>
                    <input matInput name="priceVegetable" type="text" [(ngModel)]="this.priceVegetable" placeholder="Ex : X.X "/>
                    <br/>
                    <div>
                        <input type="file" id="image" name="image" value="" required>
                    </div>

                    <button (click)=this.addVegetable() mat-raised-button color="warn">Ajouter</button>
                    
                    <br/>
                    <br/>

                    <mat-form-field class="example-full-width">
                        Créer une utilisateur
                    </mat-form-field>
                    <mat-label>Login</mat-label>
                    <input matInput name="login" type="text" [(ngModel)]="this.nameVegetable" placeholder="Ex : UserXX"/>

                    <mat-label>mot de passe</mat-label>
                    <input matInput name="password" type="text" [(ngModel)]="this.priceVegetable" placeholder="Ex : AF4TRFT6y. "/>
                    <mat-label>codepostal</mat-label>
                    <input matInput name="codepostal" type="text" [(ngModel)]="this.priceVegetable" placeholder="Ex : 75013 "/>
                    <mat-label>ville</mat-label>
                    <input matInput name="ville" type="text" [(ngModel)]="this.priceVegetable" placeholder="Ex : Paris"/>
                    <mat-label>ville</mat-label>
                    <input matInput name="adresse" type="text" [(ngModel)]="this.priceVegetable" placeholder="Ex : 44 rue des matelots"/>
                    <br/>
                    

                    <button (click)=this.addVegetable() mat-raised-button color="warn">Ajouter</button>

          
              </form>


            
              
        </div>
    
        <div class="users">
            
            <div class="user" *ngFor="let user of users">
                <div class="contenu">
                    <div class="name"> {{user[users].login}}</div>
                    <div class="name"> {{user.adress}}</div>
                </div>
                
            </div>
        </div>
    <!--      <table>
                <thead>
                    <tr>
                        <th colspan="2">The table header</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="users" *ngFor="let user of users">
                        <td>{{user.login}}</td>
                        <td>with two columns</td>
                    </tr>
                </tbody>
            </table>
-->  
        

    </body>
</html>