.body{
    background-color : #F2E8CF;
}

.titre {
    color : #BC4749;
    font-size : 40px;
    text-align: center;
    margin-bottom : 18%;
}

.form{
    margin-top : 7%;
    margin-left:35%;
    width: 30%;
    border : 50px;
    height: 60%;
    background-color:white;
}

.mat-form-field{
    border : 1%;
    width : 70%;
    margin-left:15%;
    text-align: center;
}

.btns button {
    background-color :  #A7C957;
    margin-left:15%;
    width : 70%;
}

.btns p {
    margin-left:35%;
}

